.container {
    min-height: 100vh;
    background: linear-gradient(150deg, #ffec44, #f03232);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    gap: 20px;
    padding: 40px;
}

.problemTitle {
    font-weight: bold;
}

.problemStatement {
    white-space: pre-line;
    line-height: 1.6;
    font-size: 20px;
}

.left {
    flex: 1;
    background: #ffffff;
    padding: 30px 30px 80px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    position: relative;
}

.left h2 {
    margin-bottom: 20px;
}

.right {
    flex: 1;
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.right h3 {
    color: #555;
}

.action-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-Btn {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    border: none;
    background-color: rgb(93, 93, 116);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

.edit-Btn::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: rgb(102, 102, 141);
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.3s;
    border-radius: 50%;
    filter: blur(10px);
}

.edit-Btn:hover::before {
    transform: scale(1);
}

.edit-Btn:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.edit-Btn svg {
    width: 20px;
    height: 20px;
    fill: white;
    z-index: 3;
    transition: all 0.2s;
    transform-origin: bottom;
}

.edit-Btn:hover svg {
    transform: rotate(-15deg) translateX(5px);
}

.edit-Btn::after {
    content: "";
    width: 20px;
    height: 1.5px;
    position: absolute;
    bottom: 12px;
    left: -5px;
    background-color: white;
    border-radius: 2px;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-out;
}

.edit-Btn:hover::after {
    transform: scaleX(1);
    left: 0px;
    transform-origin: right;
}

.delete-button {
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 8px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.trash-svg {
    width: 28px;
    height: 28px;
    transition: 0.3s;
}

.trash-svg rect {
    fill: black;
}

.delete-button:hover {
    background: #ff4d4d;
}

.delete-button:hover #lid-group {
    transform: rotate(-20deg);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2000;
}

.modal-content {
    background: #ffffff;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 12px;
}

.modal-content input,
.modal-content textarea {
    width: 95%;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.modal-content textarea {
    min-height: 120px;
    resize: vertical;
}

.modal-content button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background: #6c63ff;
    transition: 0.3s;
}

.modal-content button:hover {
    background: #574de2;
}
